<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8" />
	<title>Ecothunder Website Template</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<!--[if IE 9]>
		<link rel="stylesheet" type="text/css" href="css/ie9.css" />
	<![endif]-->
	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="css/ie8.css" />
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="css/ie7.css" />
	<![endif]-->
</head>
<body>
	<div id="header">
		<div>
			<div id="navigation" style="width: 830px;">
				<div>
					<% if(userIN){ %>
						<ul style="width: 820px;">
							<li class="<%= page_name === 'index' && 'current' %>"><a href="/">Home</a></li>
							<li class="<%= page_name === 'about' && 'current' %>"><a href="/about">About us</a></li>
							<li class="<%= page_name === 'contact' && 'current' %>"><a href="/contact">Contact Us</a></li>
							<li class="<%= page_name === 'lessons' && 'current' %>"><a href="/lessons">Lessons</a></li>
							<li class="<%= page_name === 'teachers' && 'current' %>"><a href="/teachers">Teachers</a></li>
							<li class="<%= page_name === 'dashboard' && 'current' %>"><a href="/users/dashboard">Dashboard</a></li>
							<li><a style="padding-left: 0px;" href="/users/logout">Logout</a></li>
						</ul>
					<% } %>

					<% if(!userIN){ %>
						<ul>
							<li class="<%= page_name === 'index' && 'current' %>"><a href="/">Home</a></li>
							<li class="<%= page_name === 'about' && 'current' %>"><a href="/about">About us</a></li>
							<li class="<%= page_name === 'contact' && 'current' %>"><a href="/contact">Contact Us</a></li>
							<li class="<%= page_name === 'lessons' && 'current' %>"><a href="/lessons">Lessons</a></li>
							<li class="<%= page_name === 'teachers' && 'current' %>"><a href="/teachers">Teachers</a></li>
							<li class="<%= page_name === 'login' && 'current' %>"><a href="/login">Login</a></li>
							<li class="<%= page_name === 'register' && 'current' %>"><a href="/register">Register</a></li>
						</ul>
					<% } %>
					
				</div>
			</div>
		</div>
	</div>