<%- include('./partials/_navigation.ejs'); %>

	<% if(!userIN){ %>
	<div id="content">
		<div>
			<div>
				<a href="index.html"><img src="../images/map-in-grass2.jpg" alt="Image" /></a>
				<span></span>
			</div>
			<b class="first"><strong><%= course.name %></strong></b>
			<p><%= course.description %></p>
			<b>Template details <br /><br /></b>
			<p>Version 3 <br />Website Template details, discussion and updates for this <a href="http://www.freewebsitetemplates.com/forum/f18/ecological-website-template-18798">Ecological Website Template</a>. <br />Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>. <br />Please feel free to remove some or all the text and links of this page and
				replace it with your own About content.</p>
		</div>
	</div>
	<% } %>

	<% if(userIN && user.role != 'Student'){ %>
		<div id="content">
			<div>
				<div>
					<a href="index.html"><img src="../images/map-in-grass2.jpg" alt="Image" /></a>
					<span></span>
				</div>
				<b class="first"><strong><%= course.name %></strong></b>
				<p><%= course.description %></p>
				<b>Template details <br /><br /></b>
				<p>Version 3 <br />Website Template details, discussion and updates for this <a href="http://www.freewebsitetemplates.com/forum/f18/ecological-website-template-18798">Ecological Website Template</a>. <br />Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>. <br />Please feel free to remove some or all the text and links of this page and
					replace it with your own About content.</p>
			</div>
		</div>
	<% } %>

	<% if(userIN && user.role == 'Student'){ %>
		<div id="content">
			<h1>St</h1>
			<div>
				<div>
					<a href="index.html"><img src="../images/map-in-grass2.jpg" alt="Image" /></a>
					<span></span>
				</div>
				<b class="first"><strong><%= course.name %></strong></b>
				<p><%= course.description %></p>
				<b>Template details <br /><br /></b>
				<p>Version 3 <br />Website Template details, discussion and updates for this <a href="http://www.freewebsitetemplates.com/forum/f18/ecological-website-template-18798">Ecological Website Template</a>. <br />Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>. <br />Please feel free to remove some or all the text and links of this page and
					replace it with your own About content.</p>
			</div>
		</div>
		<% } %>
	<%-include('./partials/_footer.ejs'); %>