<%- include('./partials/_navigation.ejs'); %>

	<% if(user){ %>

		<% if(user.role === 'Student'){ %>
			<div class="container">
				<div class="title">
					<h1>Welcome <%= user.name %> (Role : <%= user.role %>)</h1>
				</div>			
			</div>

			<div class="courses">
				<div class="course-list">
					<% for(let i = 0; i < user.courses.length; i++){ %>
						<div class="course-container">						
							<div class="course-img">
								<img src="../images/map-in-grass2.jpg" alt="" srcset="">
							</div>
							<div class="course-name">
								<h1><a href="/courses/<%= user.courses[i].slug %>"><%= user.courses[i].name %></a></h1>
							</div>
							<div class="course-desc">
								<p><%= user.courses[i].description %></p>
							</div>
							<div class="buttons">
								<form action="/courses/release" method="post">
									<input type="hidden" name="course_id" value="<%= user.courses[i]._id %>">
									<button><span>Release</span></button>
								</form>
							</div>
						</div>
					<% } %>
				</div>
			</div>	
		<% } %>
	
		<% if(user.role === 'Teacher'){ %>
			<div class="con">
				<a href="/users/dashboard" class="cancel-btn"> Close </a>
				<form action="/courses/create" method="post">
					<input type="text" name="name" id="" placeholder="Course Name">
					<input type="text" name="description" id="" placeholder="Course Description">
					<input type="hidden" name="role" value="<%= user.role %>">		
					<input type="submit" value="Add Course">
				</form>
			</div>

			<div class="container">
				<div class="title">
					<h1>Welcome <%= user.name %> (Role : <%= user.role %>)</h1>
				</div>
				<div class="add-course">
					<button class="add-btn">Add Course</button>
				</div>
			</div>
				
			<div class="courses">
				<div class="course-list">
					<% for(let i = 0; i < courses.length; i++){ %>
						<div class="course-container">						
							<div class="course-img">
								<img src="../images/map-in-grass2.jpg" alt="" srcset="">
							</div>
							<div class="course-name">
								<h1><%= courses[i].name %></h1>
							</div>
							<div class="course-desc">
								<p><%= courses[i].description %></p>
							</div>
							<div class="buttons">
								<form action="/courses/<%= courses[i].slug %>?_method=DELETE" method="post">
									<!--<a href="/courses/<%= courses[i].slug %>?_method=DELETE" onclick="return confirm('Are you sure?')"  class="delete-popup">Delete</a>-->
									<input type="hidden" value="<%= user.role %>" name="role">
									<button onclick="return confirm('Are you sure?')"  class="delete-popup">Delete</button>
								</form>
								<button class="update-popup" onclick="updateModalOpen()">Update</button>
							</div>
						</div>
					<!--UPDATE MODAL-->	
					<div class="update-con">
						<a href="/users/dashboard" class="cancel-btn"> Close </a>
						<form method="post" action="/courses/<%= courses[i].slug %>?_method=PUT" class="form-horizontal">
							<div>
								<div>
									<input type="text" name="name" value="<%= courses[i].name %>" placeholder="Course Name">
								</div>
							</div>
							<div>
								<div>
									<input type="hidden" name="role" value="<%= user.role %>">
								</div>
							</div>
							<div>
								<div>
									<textarea name="description"
									rows="8" placeholder="Course Description" required><%= courses[i].description%></textarea>
								</div>
							</div>
							<div>
								<button type="submit">
									Submit
								</button>
							</div>
						</form>
					</div>
					<% } %>
				</div>
			</div>
		<% } %>
	
		<% if(user.role === 'Admin'){ %>
			<div class="container">
				<div class="title">
					<h1>Welcome <%= user.name %> (Role : <%= user.role %>)</h1>
				</div>			
			</div>

			<div class="user-container">
				<div class="user-info">
					<h2>All User</h2>
					<% for(let i = 0; i < allUsers.length; i++){ %>
						<div class="user">
							<p><%= allUsers[i].name %></p>
							<p><%= allUsers[i].role %></p>
							<a href="/users/<%= allUsers[i]._id %>?_method=DELETE" 
								onclick="return confirm('ARE YOU SURE')">
								<span>DELETE</span></a>
						</div>
					<% } %>
				</div>
			</div>

		<% } %>

	<% } %>
	<%-include('./partials/_footer.ejs'); %>