<%- include('./partials/_navigation.ejs'); %>

	<% if(!userIN){ %>
		<div id="content">
			<div id="section">
				<div>
					<h1>Registration Control System</h1>
					<p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.</p>
					<span>
						<a class="first" href="/login">Login</a>
						<a href="/register">Register</a>
					</span>
				</div>
				<div id="figure">
					<a href="index.html"><img src="../images/little-girl-blowing-wind-mill.jpg" alt="Image" /></a>
					<span></span>
				</div>
				<span class="background"></span>
			</div>
			<div id="featured">
				<ul>
					<% for(let i = 0; i < allCourses.length; i++){ %>
						<li class="first" style="margin-right: 20px;">
							<a href="/courses/<%= allCourses[i].slug %>"><img src="../images/map-in-grass.jpg" alt="Image" /></a>
							<span></span>
							<p><%= allCourses[i].description %></p>
							<a class="link" href="/courses/<%= allCourses[i].slug %>"><%= allCourses[i].name %></a>
							<p>Teacher Name : <%= allCourses[i].user.name %></p>
						</li>
					<% } %>
				</ul>
			</div>
		</div>
	<% } %>

	<% if(userIN){ %>
		<div id="content">
			<div id="section">
				<div>
					<h1>Registration Control System</h1>
					<p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.</p>
					<span>
						<a class="first" href="/users/dashboard">Dashboard</a>
					</span>
				</div>
				<div id="figure">
					<a href="index.html"><img src="../images/little-girl-blowing-wind-mill.jpg" alt="Image" /></a>
					<span></span>
				</div>
				<span class="background"></span>
			</div>
			<div id="featured">
				<ul>
					<% for(let i = 0; i < allCourses.length; i++){ %>
						<li class="first" style="margin-right: 20px;">
							<a href="/courses/<%= allCourses[i].slug %>"><img src="../images/map-in-grass.jpg" alt="Image" /></a>
							<span></span>
							<p><%= allCourses[i].description %></p>
							<a class="link" href="/courses/<%= allCourses[i].slug %>"><%= allCourses[i].name %></a>
							<p>Teacher Name : <%= allCourses[i].user.name %></p>
						</li>
					<% } %>
				</ul>
			</div>
		</div>
	<% } %>
	<%-include('./partials/_footer.ejs'); %>