<%- include('./partials/_navigation.ejs'); %>

		<div class="courses">
			<div class="course-list" style="margin-top: 15px;">
				<% for(let i = 0; i < allCourses.length; i++){ %>
					<div class="course-container">						
						<div class="course-img">
							<img src="../images/map-in-grass2.jpg" alt="" srcset="">
						</div>
						<div class="course-name">
							<h1><a style="text-decoration: none; color:black" href="/courses/<%= allCourses[i].slug %>"><%= allCourses[i].name %></a></h1>
						</div>
						<div class="course-desc">
							<p><%= allCourses[i].description %></p>
						</div>

					</div>
				<% } %>
			</div>
		</div>	
	<%-include('./partials/_footer.ejs'); %>